.hero-carouserl img {
    height: 95vh;
    width: auto; /* El alto se ajusta automáticamente según la relación de aspecto original */
}

*{
    padding: 0;
    margin: 0;
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #ca8862;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}


/* Estilos para los títulos principales */
h2 {
    color: #a1a1a1;
    font-weight: bold;
    margin-bottom: 20px;
}

.mision{
    background-color: #cf8647;
}

.productEs .card {
    margin-bottom: 20px; /* Puedes ajustar el valor según tu preferencia */
}


/* Estilos para las tarjetas (cards) */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; /* Efecto de escala al pasar el mouse */
    padding: 20px;
}

.card:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

/* Estilos para los bloques de misión y visión */
.container h2 {
    text-align: center;
}

.container p {
    text-align: justify;
}

/* Estilos para las imágenes en las tarjetas */
.card-img-top {
    border-radius: 10px 10px 0 0;
}

/* Estilos para las descripciones en las tarjetas */
.card-text {
    font-size: 14px;
}

blockquote p {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Estilos para los botones */
.btn-primary {
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #555;
}
